@charset "utf-8";

body {
  font-family: 'Roboto', sans-serif;
  margin: 20px 20px;
  padding: 0 10px;
}

tfoot input {
  width: 100%;
  padding: 3px;
  box-sizing: border-box;
}

.dt-button-background {
  background: transparent ! important;
}
