<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- DataTables style -->
    <%= stylesheet_link_tag 'https://cdn.datatables.net/t/dt/dt-1.10.11,b-1.1.2,b-colvis-1.1.2,b-flash-1.1.2,b-html5-1.1.2,r-2.0.2/datatables.min.css' %>
    <!-- Roboto font -->
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic' %>
    <%= stylesheet_link_tag 'all' %>

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "UC Berkeley Schedule of Classes" %></title>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>
