---
title: UC Berkeley Schedule of Classes
---

<div>
  <h1>
    UC Berkeley Schedule of Classes
  </h1>
  <strong>Version</strong>: <%= data.meta.semester %>-<%= data.meta.date %>
  <hr/>
  <h2>Tips</h2>
  <ul>
    <li>
      Unlike the search bar on the top, the column
      search bars on the bottom take regular expressions.
      (If you don't know what those are, don't worry about it, and just
      try searching!)
    </li>
    <li>
      You can use keyboard shortcuts to flip through the pages! Try the left
      and right arrow keys, or the <code>wasd</code> and <code>hjkl</code>
      schemes. (Best results with fewer rows per page.)
    </li>
  </ul>
  <table id="schedule" class="display compact nowrap" cellspacing="0" width="100%">
    <thead>
      <tr>
        <% data.meta.header.each do |label| %>
        <th><%= label %></th>
        <% end %>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <% data.meta.header.each do |label| %>
        <th><%= label %></th>
        <% end %>
      </tr>
    </tfoot>
  </table>
  <hr/>
  <footer>
    <p>
      Built by <%= link_to 'Ronald Kwan', 'http://rkwan.me' %>.
      Hosted on <%= link_to 'GitLab Pages', 'http://pages.gitlab.io/' %>
      (<%= link_to 'repo', 'https://gitlab.com/rkwan/cal-schedule' %>).
      &copy; 2016 (MIT License)
    </p>
  </footer>
</div>
<%= javascript_include_tag '//code.jquery.com/jquery-1.12.0.min.js' %>
<%= javascript_include_tag 'https://cdn.datatables.net/t/dt/dt-1.10.11,b-1.1.2,b-colvis-1.1.2,b-flash-1.1.2,b-html5-1.1.2,r-2.0.2/datatables.min.js' %>
<%= javascript_include_tag 'mousetrap.min' %>
<%= javascript_include_tag 'schedule' %>
